<%= render :template => 'layouts/member_header.html.erb'%>

<div class = "row" id = "member-explain">
	<div class = "twelve columns">
		<h3>Contact Messages </h3>
		<h5>Below are questions and/or comments left by people viewing this website. If you would like to respond to these messages, please make sure that they have not been responded already by another member. </h5>
	</div>
</div>

<div class = "row">
	<div class = "twelve columns" id = "contact-info-edit">
		<%= render 'form' %>
	</div>
</div>

<div class = "row">
	<div class = "twelve columns">
		<%= link_to 'Back', member_contact_messages_path, class: "small button" %>
		</br></br>
	</div>
</div>