<%= render :template => 'layouts/member_header.html.erb'%>

<div class = "row" id = "member-explain">
	<div class = "twelve columns">
		<h3>Brothers Directory </h3>
		<h5>Here's the directory of our brothers. Please update yours accordingly. </h5>
	</div>
</div>

<div class = "row">
	<div class ="twelve columns">

		<%= render 'form' %>
	
	</div>
</div>