<header class = "sub-links">
	<div class = "row">
		<div class = "twelve columns">
			<h1> About </h1>
			<h4> What is Tau Omega Pi</h4>
		</div>
	</div>
</header>

<div class = "main-content">
	<div class = "row">
		<div class = "two columns">

			<ul class = "side-nav">
				  <li><%= link_to "â† Home", index_path%></li>		
				  <li class="divider"></li>
				  <li class = "active"><%= link_to "Tau Omega Pi", about_path%></li>
				  <li><%= link_to "FAQ", faq_path%></li>
			</ul>



		</div>

		<div class = "ten columns">
			<img src="/assets/pic11.jpg" id = "about-pic1"/>
			<p>
<b>T</b>au Omega Pi's mission is simple: we aim to sharpen and incubate each idea that comes out of a person's mind. Founded 2012, we believe that every individual has an idea that will help benefit society and our goal is to help make that spark of ingenuity a reality.
			</p>
			<p>
<b>O</b>ur goal is to cast aside the illusion of a major playing an importance on innovation; rather, we look for the character, passion, and the thirst for knowledge in each individual. We want to bring down the separation between students of different colleges and bring them together to create a whirlwind of creativity and uniqueness. 
			</p>
			<p>
<b>P</b>icture us as companions who seek to help you envision your true potential and talent, and ultimately, to make something of it. Tau Omega Pi is a new kind of fraternity: we are society's think-tank.
			</p>
		</div>
	</div>
</div>