<header class = "sub-links">
	<div class = "row">
		<div class = "twelve columns">
			<h1> Brothers </h1>
			<h4> Meet our Brothers</h4>
		</div>
	</div>
</header>

<div class = "main-content">
	<div class = "row">
		<div class = "two columns">

			<ul class = "side-nav">
				  <li><%= link_to "â† Home",index_path%></li>		
				  <li class="divider"></li>
				  <li class = "active"><%= link_to "Active Brothers", brothers_path%></li>
				  <li ><%= link_to "Officers", officers_path%></li>
			</ul>




		</div>

		<div class = "ten columns" id = "brothers-row">
			<div class = "row" >
				<div class = "three columns">
					<img src="/assets/elizabethp.JPG"/>
					<p>
					<b>Elizabeth Shi</b></br>
					Applied Mathematics</br>
					Class of 2014
					</p>
				</div>
				<div class = "three columns">
					<img src="/assets/rahulv.JPG" />
					<p>
					<b>Rahul Vaswani</b></br>
					Applied Mathematics</br>
					Class of 2014
					</p>
				</div>
				<div class = "three columns">
					<img src="/assets/bonghyunk.JPG" />
					<p>
					<b>Bonghyun Kim</b></br>
					Computer Science and Statistics</br>
					Class of 2014
					</p>
				</div>
				<div class = "three columns">
					<img src="/assets/mattb.JPG"/>
					<p>
					<b>Matt Bowen</b></br>
					Political Economy</br>
					Class of 2013
					</p>
				</div>	
			</div>
			</br>
			<div class = "row">

				<div class = "three columns">
					<img src="/assets/inoc.JPG" />
										<p>
					<b>Ino Cheng</b></br>
					Business Administration</br>
					Class of 2013
					</p>
				</div>

				<div class = "three columns">
					<img src="/assets/riho.JPG" />
										<p>
					<b>Riho Maruyama</b></br>
					Business Adminstration</br>
					Class of 2014
					</p>
				</div>

				<div class = "three columns">
					<img src="/assets/normany.JPG" />
										<p>
					<b>Norman Yau</b></br>
					Economy & Political Economy</br>
					Class of 2013
					</p>
				</div>

				<div class = "three columns">
					<img src="/assets/yuanx.JPG" />
										<p>
					<b>Yuan Xia</b></br>
					Intended Business Adminstration</br>
					Class of 2015
					</p>
				</div>



			</div>
			
			<div class = "row">

				<div class = "three columns">
					<img src="/assets/shuaihan.JPG" />
										<p>
					<b>Shuai Han</b></br>
					Intended Business Administration</br>
					Class of 2015
					</p>
				</div>
				
				<div class = "three columns">
					<img src="/assets/michelleg.JPG" />
										<p>
					<b>Michelle Galemmo</b></br>
					Cognitive Science & Art Practice</br>
					Class of 2016
					</p>
				</div>


				<div class = "three columns">
					<img src="/assets/lucy.JPG" />
										<p>
					<b>Lucy Cai</b></br>
					Intended Business Adminstration</br>
					Class of 2015
					</p>
				</div>

				<div class = "three columns">
					<img src="/assets/tony.JPG" />
										<p>
					<b>Tony Chu</b></br>
					Intended IEOR</br>
					Class of 2015
					</p>
				</div>

			</div>
			
			<div class = "row">

				<div class = "three columns">
					<img src="/assets/kimm.jpg" alt = "Kimberly Te" />
										<p>
					<b>Mike Lee</b></br>
					Political Economy</br>
					Class of 2014
					</p>
				</div>
				<div class = "three columns">
					<img src="/assets/kimm.jpg" alt = "Kimberly Te" />
										<p>
					<b>Bao Nguyen</b></br>
					Business Administration</br>
					Class of 2014
					</p>
				</div>
				<div class = "three columns">
					<img src="/assets/kimm.jpg" alt = "Kimberly Te" />
										<p>
					<b>Kimberly Te</b></br>
					Business Administration</br>
					Class of 2014
					</p>
				</div>
				<div class = "three columns"></div>

			</div>



	

		</div>

	</div>
</div>