<header class = "sub-links">
	<div class = "row">
		<div class = "twelve columns">
			<h1> Brothers </h1>
			<h4> Meet our Brothers</h4>
		</div>
	</div>
</header>

<div class = "main-content">
	<div class = "row">
		<div class = "two columns">

			<ul class = "side-nav">
				  <li><%= link_to "â† Home",index_path%></li>		
				  <li class="divider"></li>
				  <li class = "active"><%= link_to "Active Brothers", brothers_path%></li>
				  <li ><%= link_to "Officers", officers_path%></li>
			</ul>




		</div>

		<div class = "ten columns" id = "brothers-row">
			<div class = "row" >
				<div class = "three columns">
					<img src="/assets/elizabeth.jpg"/>
					<p>
					<b>Elizabeth Shi</b></br>
					Applied Mathematics</br>
					Class of 2014
					</p>
				</div>
				<div class = "three columns">
					<img src="/assets/rahul.jpg" />
					<p>
					<b>Rahul Vaswani</b></br>
					Applied Mathematics</br>
					Class of 2014
					</p>
				</div>
				<div class = "three columns">
					<img src="/assets/bonghyun.jpg" />
					<p>
					<b>Bonghyun Kim</b></br>
					Computer Science and Statistics</br>
					Class of 2014
					</p>
				</div>
				<div class = "three columns">
					<img src="/assets/matt.jpg"/>
					<p>
					<b>Matt Bowen</b></br>
					Political Economy</br>
					Class of 2013
					</p>
				</div>	
			</div>
			</br>
			<div class = "row">

				<div class = "three columns">
					<img src="/assets/ino.jpg" />
										<p>
					<b>Ino Cheng</b></br>
					Business Administration</br>
					Class of 2013
					</p>
				</div>
				<div class = "three columns">
					<img src="/assets/kim.jpg" />
										<p>
					<b>Kimberly Te</b></br>
					Business Administration</br>
					Class of 2014
					</p>
				</div>

				<div class = "three columns">
				</div>
				<div class = "three columns">
				</div>



			</div>



	

		</div>

	</div>
</div>