<header class = "sub-links">
	<div class = "row">
		<div class = "twelve columns">
			<h1> About </h1>
			<h4> Frequently Asked Questions</h4>
		</div>
	</div>
</header>

<div class = "main-content">
	<div class = "row">
		<div class = "two columns">

			<ul class = "side-nav">
				  <li><%= link_to "â† Home", index_path%></li>		
				  <li class="divider"></li>
				  <li><%= link_to "Tau Omega Pi", about_path%></li>
				  <li class = "active"><%= link_to "FAQ", faq_path%></li>
			</ul>




		</div>

		<div class = "ten columns">
			<img src="/assets/pic55.jpg" id = "about-pic1"/>
			<p><b>
			What makes you different from other entrepreneurial organizations?
			</b></br>
			We believe that our uniqueness lies in our dedication to help the community. We aim to create projects and start-ups to help the people around us and to ultimately better the world.
			</p>

			<p><b>
			What does the pledging process consists of?
			</b></br>
			We have a carefully selected curriculum of lessons, bonding activities, and well-known keynote speakers that will help pledges develop and hone their skills.
			</p>

			<p><b>
			How long is the pledge process?
			</b></br>
			The pledge process is a semester long. We believe that this is enough time for pledges to learn about entrepreneurship and to further uncover their entrepreneurial spirit.
			</p>

			<p><b>
				How much time do pledges need to commit?
			</b></br>
			We require 10 to 15 hours a week from our pledges. This allows the pledges to fully grasp each lesson and activity, and further their understanding of the fundamentals of entrepreneurship.
			</p>
	

		</div>
	</div>
</div>