<div id = "top-container">
	<header>
		<div class = "row" >
			<div class = "twelve columns" id = "top-header">
				<h1>Tau Omega Pi </h1>
				<h4>UC Berkeley's Innovative Co-Ed Entrepreneurship Fraternity</h4>
			</div>
		</div>
	</header>
</div>



<div id = "bottom-container">
	<section>
		<div class = "row">
			<div class = "nine columns"  id = "bottom-row1">
				<div class = "row">
					<h3> Tau Omega Pi </h3>
					<div class = "four columns">
						<i class="foundicon1-idea" id ="bottom-icon"></i>
						<h5> Idea</h5>
						<p>
						Every individual has an idea that can revolutionize our society. Our goal is to help you make that spark of ingenuity into a reality.
						</p>

					</div>

					<div class = "four columns">
						<i class="foundicon1-heart" id ="bottom-icon"></i>
						<h5> Brotherhood</h5>
						<p>
						Although we are diverse in background, you will develop everlasting brotherhood through collaboration and cooperation toward a common goal. 
						</p>
					</div>

					<div class = "four columns">
						<i class="foundicon1-globe" id ="bottom-icon"></i>
						<h5> Impact</h5>
						<p>
						We aim to make an impact in our society. Tau Omega Pi is a new kind of Fraternity; we are society's think tank. 	
						</p>
					</div>
				</div>
				<div class ="row">
					<div class ="four columns">
										<%= link_to "about", about_path, :class => "large button" %>
					</div>
					<div class ="four columns">
										<%= link_to "brothers", brothers_path, :class => "large button" %>

					</div>
					<div class ="four columns">
										<%= link_to "rush now", rush_path, :class => "large button" %>
					</div>
				</div>
			</div>


			<div class = "three columns" id = "bottom-row2">
				<div id = "announcement">

					<h4> Announcements </h4>

					<span id = "ann-title"> 
						Spring 2013 Rush 
					</span>

					<span id = "ann-date">
						</br></br> Feb 5, 2013 </br>
					</span>
					<span id = "ann-description">
						<b>Meet the Chapter</br></b>
						Faculty Club</br>
						7pm</br>
					</span>
					<span id = "ann-date">
						</br></br> Feb 7, 2013 </br>
					</span>
					<span id = "ann-description">
						<b>Chapter Social</br></b>
						Pappy's Grill</br>
						7pm</br>
					</span>
					<span id = "ann-date">
						</br></br> Feb 9, 2013 </br>
					</span>
					<span id = "ann-description">
						<b>Individual Interviews</br></b>
						TBD</br>
						TBD</br>
					</span>

					

				</div>
			</div>

		</div>
	</section>
</div>

