<header class = "sub-links">
	<div class = "row">
		<div class = "twelve columns">
			<h1> Photos </h1>
			<h4> Our memories</h4>
		</div>
	</div>
</header>

<div class = "main-content">
	<div class = "row">
		<div class ="twelve columns" id = "pics">
			<h4>Fall 2012</h4>
			<div class ="row">
				<div class ="three columns">
					<img src = "/assets/pic1.jpg"/>
					<p> Launch @ Berkeley </p>
				</div>

				<div class ="three columns">
					<img src = "/assets/pic2.jpg"/>
					<p> Banquet </p>
	
				</div>

				<div class="three columns">
					<img src = "/assets/pic3.jpg"/>
					<p> Social </p>
	
				</div>

				<div class="three columns">
					<img src = "/assets/pic5.jpg"/>
					<p> Academic </p>		
				</div>
			</div>

			<h4>Founding Memories</h4>
			<div class ="row">
				<div class ="three columns">
					<img src = "/assets/pic8.jpg"/>
					<p> Rush Week </p>

				</div>

				<div class ="three columns">
				</div>

				<div class="three columns">
				</div>

				<div class="three columns">
				</div>
			</div>
		</div>
	</div>
</div>