<header class = "sub-links">
	<div class = "row">
		<div class = "twelve columns">
			<h1> Brothers </h1>
			<h4> Our Officers</h4>
		</div>
	</div>
</header>

<div class = "main-content">
	<div class = "row">
		<div class = "two columns">

			<ul class = "side-nav">
				  <li><%= link_to "â† Home", index_path%></li>		
				  <li class="divider"></li>
				  <li ><%= link_to "Active Brothers", brothers_path%></li>
				  <li class = "active"><%= link_to "Officers", officers_path%></li>
			</ul>




		</div>

		<div class = "ten columns">
			<img src="/assets/officers.JPG" alt="Officer Picture" id = "officer-pic" />
					<p>
					<b>President</b>
					</br>
					Elizabeth Shi
					</p>
					<p>
					<b>Vice President</b>
					</br>
					Rahul Vaswani
					</p>
					<p>
					<b>Head of Technology</b>
					</br>
					Bonghyun Kim
					</p>
					<p>
					<b>Co-Marketing Head</b>
					</br>
					Matthew Bowen
					</p>
					<p>
					<b>Co-Head of Marketing</b>
					</br>
					Michael Lee
					</p>
					<p>
					<b>Head of Finance</b>
					</br>
					Norman Yau
					</p>
					<p>
					<b>Pledge Director</b>
					</br>
					Riho Maruyama
					</p>
					<p>
					<b>Junior Pledge Director</b>
					</br>
					Bao Ngyuen
					</p>
					<p>
					<b>Junior Pledge Director</b>
					</br>
					Yuan Xia
					
					</p>

		</div>

	

		</div>

	</div>
</div>