<header class = "sub-links">
	<div class = "row">
		<div class = "twelve columns">
			<h1> Rush </h1>
			<h4> Your journey awaits</h4>
		</div>
	</div>
</header>

<div class = "main-content">
	<div class = "row">
		<div class ="four columns" id = "rush-date">
			<div id = "rush-dates">
					<h4> Important Dates</h4>
					<span id = "ann-title"> 
						Spring 2013 Rush 
					</span>
					<span id = "ann-date">
						</br></br> Feb 5, 2013 </br>
					</span>
					<span id = "ann-description">
						<b>Meet the Chapter</br></b>
						TBD</br>
						TBD</br>
						Campus Casual</br>
					</span>
					<span id = "ann-date">
						</br></br> Feb 7, 2013 </br>
					</span>
					<span id = "ann-description">
						<b>Chapter Social</br></b>
						TBD</br>
						TBD</br>
						Campus Casual</br>
					</span>
					<span id = "ann-date">
						</br></br> Feb 9, 2013 </br>
					</span>
					<span id = "ann-description">
						<b>Individual Interviews</br></b>
						TBD</br>
						TBD</br>
						Business Professional</br>
					</span>
				</div>

				<%= link_to "Rush Application", rush_path, :class => "large button", :id=>"rush-application"%>

				<%= link_to "Contact Us", contact_path, :class => "large button", :id=>"rush-application"%>


		</div>

		<div class = "eight columns">
			<img src="/assets/rush.jpg" id = "rush-poster"/>
		</div>


	</div>
</div>