<%= render :template => 'layouts/member_header.html.erb'%>



<div id='calendar'></div>





<style type='text/css'>

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>


<script type='text/javascript'>

	$(document).ready(function() {
	
		
		$('#calendar').fullCalendar({
			editable: true,
			events: [
				{
					title: ' School Starts',
					start: new Date(2013, 0, 22, 10, 30),
					allDay: false
				},
				{
					title: ' Meeting',
					start: new Date(2013, 0, 21, 10, 30),
					allDay: false
				}
			]
		});
		
	});

</script>