<%= render :template => 'layouts/member_header.html.erb'%>


<div class = "row" id = "member-explain">
	<div class = "twelve columns">
		<h3>Rush Applications</h3>
		<h5>There are the submitted rush applications </h5>
	</div>
</div>

